Package: com.nikeboy.vcaminject
Name: NikeCam
Version: 2.0.0
Architecture: iphoneos-arm64
Description: PC video stream as iPhone camera (mediaserverd injection)
Maintainer: nikeboy
Author: nikeboy
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
