Package: com.nikeboy.vcamhub
Name: NikeCam Hub
Version: 1.0.0
Architecture: iphoneos-arm64
Description: NikeCam WS-Server + Status-Button (SpringBoard)
Maintainer: nikeboy
Author: nikeboy
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
